.RegisterForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

.LoginForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

.modalButtons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1em;
}


.error{
    color: rgba(255, 0, 0, 0.711);
    margin: 0;
}